<!-- Modal -->
<div id="myModal" class="modal hide" style="width: 630px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= video.title %></h3>
  </div>
  <div class="modal-body">
    <p><div id="player_video"></div></p>
  </div>
  <div class="modal-footer">
    <p><%= video.description %></p>
  </div>
</div>